In [1]:
import http.client
import config
import pandas as pd
import json
import folium

In [5]:
conn1 = http.client.HTTPSConnection("app.goflightlabs.com")
conn2 = http.client.HTTPSConnection("app.goflightlabs.com")

conn1.request("GET", f"/historical/2023-05-14?access_key={config.api_key}&code=ATL&type=arrival")
conn2.request("GET", f"/historical/2023-05-14?access_key={config.api_key}&code=ATL&type=departure")

historical_arrivals = conn1.getresponse().read().decode('utf-8')
historical_arrivals = json.loads(historical_arrivals)

historical_departures = conn2.getresponse().read().decode('utf-8')
historical_departures = json.loads(historical_departures)

In [6]:
df_hist_departures = pd.json_normalize(historical_departures['data'])
df_hist_arrivals = pd.json_normalize(historical_arrivals['data'])
df_hist_flights = pd.concat([df_hist_departures, df_hist_arrivals])

In [7]:
df_hist_flights

,type,status,departure.iataCode,departure.icaoCode,departure.terminal,departure.gate,departure.delay,departure.scheduledTime,departure.estimatedTime,arrival.iataCode,...,codeshared.airline.name,codeshared.airline.iataCode,codeshared.airline.icaoCode,codeshared.flight.number,codeshared.flight.iataNumber,codeshared.flight.icaoNumber,arrival.delay,arrival.actualTime,arrival.estimatedRunway,arrival.actualRunway
0,departure,active,atl,katl,i,e10,25.0,2023-05-13t20:00:00.000,2023-05-13t20:25:00.000,dub,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,departure,active,atl,katl,s,b21,16.0,2023-05-13t20:00:00.000,2023-05-13t20:05:00.000,msp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,departure,active,atl,katl,s,d31,14.0,2023-05-13t20:00:00.000,2023-05-13t20:00:00.000,mli,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,departure,active,atl,katl,s,c49,18.0,2023-05-13t20:04:00.000,2023-05-13t20:04:00.000,hpn,...,delta air lines,dl,dal,2718,dl2718,dal2718,NaN,NaN,NaN,NaN
4,departure,active,atl,katl,s,c49,18.0,2023-05-13t20:04:00.000,2023-05-13t20:04:00.000,hpn,...,delta air lines,dl,dal,2718,dl2718,dal2718,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3523,arrival,landed,clt,kclt,NaN,NaN,13.0,2023-05-14t14:50:00.000,NaN,atl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-14t15:47:00.000,2023-05-14t15:47:00.000,2023-05-14t15:47:00.000
3524,arrival,landed,cvg,kcvg,NaN,NaN,10.0,2023-05-14t14:30:00.000,NaN,atl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-14t15:46:00.000,2023-05-14t15:46:00.000,2023-05-14t15:46:00.000
3525,arrival,landed,hou,khou,NaN,NaN,111.0,2023-05-14t13:15:00.000,NaN,atl,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,2023-05-14t17:42:00.000,2023-05-14t17:42:00.000,2023-05-14t17:42:00.000
3526,arrival,landed,srq,ksrq,NaN,b12,10.0,2023-05-14t16:40:00.000,NaN,atl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-14t18:04:00.000,2023-05-14t18:04:00.000,2023-05-14t18:04:00.000
3527,arrival,unknown,cvg,kcvg,NaN,NaN,46.0,2023-05-14t16:45:00.000,2023-05-14t17:31:00.000,atl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN